.square{
    width: 38px;
    height: 38px;
    border: 1px solid black;
    background-color: black;
}

.square,circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rebeccapurple, purple, darkorchid, black);

}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
}
.square:hover{
    background-color: blueviolet;
}
.board{

}
.undo{
width: 70px;
    height: 20px;

}
.firstDiv{
    width: 60%;
    justify-content: center;
    align-items: center;

}
.secondDiv{
    width: 20%;


}
.masterDiv{
    display: flex;
    justify-content: flex-start;


}